@tailwind base;
@tailwind components;
@tailwind utilities;  

::-webkit-scrollbar {
  display:none
}







@layer components{

  .sidebar-icon{
    @apply relative flex items-center justify-center cursor-pointer
     h-12 w-12 min-w-fit  my-2 mx-auto bg-iconprimary text-textprimary
      hover:bg-iconsecondary hover:text-textsecondary rounded-full
      hover:rounded-xl   transition-all ease-in-out duration-100;
  }
  .sidebar-tooltip{
    @apply z-10 absolute w-auto p-2 m-2 min-w-max left-20 rounded-md shadow-md
    text-white bg-primarytooltip text-lg font-bold
    transition-all duration-150 scale-0 origin-left;
  }
  .sidebar-title{
    @apply h-8 font-bold text-xl text-textprimary  font-[Quantico] flex items-center justify-center mt-2 italic
  }
}